/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 24px;
}

.profile {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

.bio {
    flex: 1;
}

/* Estilo da bandeira trans */
.bio p:nth-child(2) {
    background-color: #55CDFC;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    display: inline-block;
    margin-top: 10px;
}

.github-stats {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Adicione seus estilos e estatísticas do GitHub aqui */
